---
import PageLayout from '../layouts/pageLayout.astro'
const title = 'Page Title'
---

<PageLayout content={{title}}>
    <h1>Fichier Astro</h1>
    <h2>This is the: {title}</h2>
    <p>This is your first Astro page. It probably isn’t styled much, although HTML
     does support <strong>bold</strong> and <em>italics</em>.</p>
</PageLayout>